<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,252},{340,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,380}}</string>
                <key>sourceSize</key>
                <string>{340,380}</string>
            </dict>
            <key>Gun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,252},{260,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,412}}</string>
                <key>sourceSize</key>
                <string>{260,412}</string>
            </dict>
            <key>Gun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,252},{280,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,404}}</string>
                <key>sourceSize</key>
                <string>{280,404}</string>
            </dict>
            <key>Gun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,0},{224,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,404}}</string>
                <key>sourceSize</key>
                <string>{224,404}</string>
            </dict>
            <key>bombaRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,558},{150,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,25},{150,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boxDesk.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1536,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,228}}</string>
                <key>sourceSize</key>
                <string>{1536,228}</string>
            </dict>
            <key>bullet2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,634},{300,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,314}}</string>
                <key>sourceSize</key>
                <string>{300,314}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,658},{304,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{304,304}}</string>
                <key>sourceSize</key>
                <string>{308,308}</string>
            </dict>
            <key>controlMoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,868},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>helmet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,666},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>roundBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{710,706}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,706}}</string>
                <key>sourceSize</key>
                <string>{710,706}</string>
            </dict>
            <key>roundSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,406},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>separator.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{1536,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,20}}</string>
                <key>sourceSize</key>
                <string>{1536,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShopArt-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1822,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ee7465ce6d7878d28d3f9f5ef7ca864:1/1$</string>
            <key>textureFileName</key>
            <string>ShopArt-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
